.page-wrap{
  width:960px;
  margin:0 auto;
  text-align:left;
}

h2{
  color: rgb(111, 181, 246)
}

.hr1{
  margin: 25px 0 25px 0;
}

.contact_title{
  margin-bottom: 25px;
}

.contact_text{
  width: 250px;
}

#zipcode{
  width: 70px;
}

.dropdown1{
  margin-left: 250px;
  margin-bottom: 5px;
}
.dropdown2{
  margin-left: 200px;
  margin-bottom: 5px;
}

.input_styling label{
  width: 200px;
  position: absolute;
}

.input_styling input{
  margin-bottom: 5px;
  margin-left: 200px;
  display: inline-block;
}

.city_info{
  font-size: 12px;
  margin: 3px 0 15px 200px;
}

.address3{
  margin-top: 15px;
}
